body {
  font-size: 1.5rem;
}

/* set the description colum to wrap text */
#solutions tr td:nth-child(3){
    width:60%;
    overflow-wrap: break-word;
}
#solutions tr td:nth-child(4){
    width:40%;
    overflow-wrap: break-word;
}

input {
    overflow-wrap: break-word;
}

.tagform{
    float:right;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 95%;
    background: #999;
    color: #fff;
}

.tag{
    cursor: pointer;
    text-align: left;
}

li {
    cursor: pointer;
    color: #000;
}

.label{
    cursor: pointer;
}