html {
    font-size: 16px;
  }

/* set the description colum to wrap text */
#solutions tr td:nth-child(3){
    width:60%;
    overflow-wrap: break-word;
}
#solutions tr td:nth-child(4){
    width:40%;
    overflow-wrap: break-word;
}

.solution_form{
    margin: 0px 30% 20px;
}

input {
    overflow-wrap: break-word;
}

.div-right{
    float:right;
    width:250px;
    position: absolute;
    left: 75vw;
    top: 30vh;
}

.tagform{
    float:left;
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 95%;
    background: lightgray;
    color: #fff;
}

.tag{
    cursor: pointer;
    text-align: left;
}

li {
    cursor: pointer;
    color: #000;
}

.label{
    cursor: pointer;
}

.header-logo-invertocat {

    color: #fff;
    white-space: nowrap;

}
.octicon {

    display: inline-block;
    fill: #fff;
    vertical-align: text-top;

}